#container{
    height: 200px;
    width: 100%;
    border:2px solid black;
    padding:10px;
    margin:10px;
    background-color:beige;
    display: flex;
    justify-content: center;
    align-items: center;
}