.counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  color: aquamarine;
  border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    background-color: #282c34;

}
#btn{
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #61dafb;
    color: #fff;
    cursor: pointer;
}