*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  font-family: Arial, sans-serif;
  background-color: #e2ec95c1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
button{
  padding: 10px 20px;
  font-size: 16px;
  background-color: #769806;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover{
  background-color: #5a7305;
}